{% extends "base.html" %}
{% block title %}ERUDITE | Projet{% endblock %}

{% block content %}
<div class="bg-white rounded-lg p-10 flex items-center shadow-lg justify-center">
    <div>
        <svg class="mb-4 h-20 w-20 text-black mx-auto" viewBox="0 0 20 20" fill="currentColor">  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/></svg>

        <h2 class="text-2xl mb-4 text-gray-800 text-center font-bold">C'est tout bon ! 😄</h2>

        <div class="text-gray-600 mb-8">
            Vos réponses ont bien été enregistrées. Nous traiterons votre demande dans les plus brefs délais. 
        </div>

        <a href="{{url_for('home')}}" class="w-1/2 block mx-auto focus:outline-none py-2 px-5 rounded-lg shadow-sm text-center text-black bg-white transition duration-300 hover:scale-110 font-medium border">Revenir à l'accueil</a>
    </div>
</div>
{% endblock %}

